<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OutsourceIntegration7Soap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
                    <security mode="Transport" />
				</binding>
                <binding name="OutsourceIntegration7Soap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OutsourceIntegration7Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://yonetim.bulutyonetim.com/Services/OutsourceIntegration7.asmx"
                binding="basicHttpBinding" bindingConfiguration="OutsourceIntegration7Soap"
                contract="BulutService.OutsourceIntegration7Soap" name="OutsourceIntegration7Soap" />
        </client>
    </system.serviceModel>
</configuration>