<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="OutsourceIntegration7Soap" maxReceivedMessageSize="64000000">
     <security mode="Transport" />
    </binding>
    <binding name="OutsourceIntegration7Soap1" maxReceivedMessageSize="64000000" />
   </basicHttpBinding>
   <customBinding>
    <binding name="OutsourceIntegration7Soap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpsTransport />
    </binding>
   </customBinding>
  </bindings>
		<client>
   <endpoint address="https://yonetim.bulutyonetim.com/Services/OutsourceIntegration7.asmx"
    binding="basicHttpBinding" bindingConfiguration="OutsourceIntegration7Soap"
    contract="BulutService.OutsourceIntegration7Soap" name="OutsourceIntegration7Soap" />
   <endpoint address="https://yonetim.bulutyonetim.com/Services/OutsourceIntegration7.asmx"
    binding="customBinding" bindingConfiguration="OutsourceIntegration7Soap12"
    contract="BulutService.OutsourceIntegration7Soap" name="OutsourceIntegration7Soap12" />
  </client>
	</system.serviceModel>
</configuration>